PYTHON_VERSION=3.11.9
Django==5.0.6
djangorestframework==3.16.1
django-cors-headers==4.9.0
django-filter==24.3

# PostgreSQL
psycopg2-binary==2.9.9
dj-database-url==2.1.0

# Deployment
gunicorn==21.2.0
whitenoise==6.6.0
