Django==5.0.6
djangorestframework==3.16.1
django-cors-headers==4.9.0
django-filter==24.3
psycopg2-binary==2.9.9
gunicorn==21.2.0
psycopg2-binary==2.9.11

requests==2.32.3
python-dateutil==2.9.0.post0
pytz==2024.1


tqdm==4.66.4
